name: Check binary

on:
  workflow_call:
    inputs:
      executables:
        required: True
        type: string

jobs:
    check-compilation:
        runs-on: ubuntu-latest
        container:
          image: golang:1.25-alpine3.22
        steps:
          - name: Checkout Branch
            uses: actions/checkout@v4
          - name: Generate database
            run:  |
                go run github.com/steebchen/prisma-client-go generate
          - name: build
            run:  |
                go build -o ${{ inputs.executables }}
          - name: Check binary presence
            run: |
                for executable in ${{ inputs.executables }}; do
                  if [ ! -x "$executable" ]; then
                    echo "::error title=Binary ERROR::Binary not found"
                    exit 1
                  fi
                done
                exit 0
